@import "tailwindcss";

@theme {
  --color-dark: #0d1117;
  --color-light: #ffffff;
  --color-highlight: #e3ff6a;
  --color-neonGreen: #a4ff7a;
  --color-deepBlue: #1e293b;
  --color-softGray: #8892b0;
}

@custom-variant dark (&:where(.dark, .dark *));
